<section>

    <div>

        <h3>{{contact.titel}}</h3>

        <form
            (ngSubmit)="onSubmit()">
    
            <input 
                type="text"
                name="name"
                id="name"
                placeholder={{contact.name}}
                required
            >
    
            <input 
                type="email"
                name="email"
                id="email"
                placeholder={{contact.email}}
                required
            >
    
            <textarea 
                type="textarea"
                name="msg"
                id="msg"
                placeholder={{contact.write}}
                rows="10"
                maxlength="2000"
                required
            ></textarea>
    
            <button type="submit">{{contact.send}}</button>
        </form>

    </div>

</section>