<section id="contact">

    <div>

        <h3>Contacto</h3>

        <form
            (ngSubmit)="onSubmit()">
    
            <input 
                type="text"
                name="name"
                id="name"
                placeholder="Nombre"
                required
            >
    
            <input 
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                required
            >
    
            <textarea 
                type="textarea"
                name="msg"
                id="msg"
                placeholder="Escribe un mensaje"
                rows="10"
                maxlength="2000"
                required
            ></textarea>
    
            <button type="submit">Enviar</button>
        </form>

    </div>

</section>