footer{
    background-color: #0F0C0F;
    color:#F8F4DB;
    text-align: center;
    padding: 0 0 20px 0;
}

footer div {
    width: 80%;
    margin: 0 auto;
    background-color: #231F20;
    border-radius: 15px;
    padding: 30px 0;
}

footer div section {
    padding-bottom: 15px;
}

.icon {
    font-size: 2rem;
    padding: 0 8px;
}

footer div p span {
    font-weight: 700;
}