<footer id="footer">

    <div>

        <section>
            <a href="{{footer[0].link}}" target="_blank">
                <fa-icon [icon]="faGithubAlt" class="icon" style="color: #F8F4DB"></fa-icon>
            </a>
            <a href="{{footer[1].link}}" target="_blank">
                <fa-icon [icon]="faLinkedin" class="icon" style="color: #F8F4DB"></fa-icon>
            </a>
        </section>
    
        <p>Creado por <span>{{footer[0].person.secondName}} </span>en <span>2023</span></p>

    </div>

</footer>