<nav>
        <div>
            <p>{{headerData}}</p>

            <ul>

                <li *ngFor="let nav of navData?.options; let i = index">
                    <a 
                        [routerLink]="['/']" 
                        fragment="{{nav.id}}" 
                        class="{{nav.id}}" 
                        [attr.href]="'#' + nav.id" 
                        (click)="scrollToElement(nav.id)"
                        [class.active]="isFragmentActive(nav.id)"
                    > 
                        {{nav.option}} 
                    </a>
                  </li>

                <li>
                    {{navData.lng}}
                </li>

            </ul>
        </div>
</nav>