section{
    background-color: #0F0C0F;
    color:#F8F4DB;
    height: calc(100vh - 60px);
    text-align: center;
}

section div {
    width: 60%;
    margin: 0 auto;
}

section div h3{
    font-weight: 500;
    font-size: 2.5em;
    padding-top: 10vh;
}

.main-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 10px;
    color: #F8F4DB;
    list-style: none;
    margin: 0 auto;
    height: 60vh;
    max-width: 80%;
    text-align: left;
}

.main-li {
    padding:20px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.main-li:nth-child(1){
    background-color: #7B5EA7;
}

.main-li:nth-child(2){
    background-color: #0BA95B;
}

.main-li:nth-child(3){
    background-color: #FC7529;
}

.main-li img {
    width: 100%;
}

.ul-tech{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
    text-align: left;
}

.project-titel{
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10% 0 5% 0;
}

.h4-tech{
    padding: 10% 0 5% 0;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
}