<section id="projects">

    <div>
        <h3>Proyectos</h3>

        <ul class="main-ul">
            <li  *ngFor="let project of projects" class="main-li">
                <img [src]="project.link">
                <h4 class="project-titel">{{project.titel}}</h4>
                <p>{{project.descripcion}}</p>

                <h4 class="h4-tech">Tecnologías utilizadas</h4>
                <ul class="ul-tech">
                    <li *ngFor="let technologie of project.technologie_list" class="li-tech">
                        <p class="p-tech">{{technologie.tech_name}}</p>
                    </li>
                </ul>
            </li>
        </ul> 
    </div>

</section>