<section>
    <h3>Skills</h3>

    <article>
        <h4>BACKEND</h4>
        <p>NodeJS - Frameworks: Express - MVC - APIs - Docker - Sysadmin</p>
    </article>

    <article>
        <h4>FRONTEND</h4>
        <p>HTML - CSS - Sass - EJS - React - Bootstrap</p>
    </article>

    <article>
        <h4>BASE DE DATOS</h4>
        <p>MySQL</p>
    </article>

    <article>
        <h4>HERRAMIENTAS</h4>
        <p>GIT - Github - Wireframe - Scrum - ClickUp - Trello - Postman - Figma - Photoshop - Illustrator</p>
    </article>

</section>